@import "tailwindcss";

:root {
  --inter: "Inter", sans-serif;
  --gabarito: "Gabarito", sans-serif;
  --epilogue: "Epilogue", sans-serif;
  --oswald: "Oswald", sans-serif;
  --nunito: "Nunito", sans-serif;
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --montserrat-alternates: "Montserrat Alternates", sans-serif;
  --fredoka: "Fredoka", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--nunito);
}

body {
  background-color: #000000;
}

/* Custom scrollbar utilities */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

/* Custom shimmer animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}