@import "tailwindcss";

:root {
  --inter: "Inter", sans-serif;
  --gabarito: "Gabarito", sans-serif;
  --epilogue: "Epilogue", sans-serif;
  --oswald: "Oswald", sans-serif;
  --nunito: "Nunito", sans-serif;
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --montserrat-alternates: "Montserrat Alternates", sans-serif;
  --fredoka: "Fredoka", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--nunito);
}

body {
  background-color: #000000;
}

/* Custom scrollbar utilities */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

/* Custom shimmer animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}


/* Custom Gradient for search panel */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e1e; /* dark gray track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #7e22ce, #ec4899); /* purple → pink gradient */
  border-radius: 9999px;
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #9333ea, #f472b6); /* brighter hover gradient */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #f0f0f0 #1e1e1e;
}
